<div class="comp-wrapper">
  <div class="nav-wrapper">
    <a routerLink="/add-camera" routerLinkActive="nav-active" class="nav-icon">
      <i class="fas fa-plus-circle"></i>
    </a>
    <a
      routerLink=""
      routerLinkActive="nav-active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-icon"
    >
      <i class="fas fa-folder"></i>
    </a>
    <a routerLink="/search" routerLinkActive="nav-active" class="nav-icon">
      <i class="fas fa-search"></i>
    </a>
  </div>
</div>
